[2017-07-20 10:14] kdudzik opened #2 "Multiple popovers appear with delay"
I'm trying to use MDE popovers as presented here:
http://plnkr.co/edit/ebs4IqbYGq5sRRj7AuKD?p=preview

I've created custom components for the trigger and one to attach a popover to the trigger using `<ng-content>`. I've set a delay of 1000ms for showing the popover.

Now, when hovering quickly over multiple triggers, multiple popovers appear with a 1000ms delay. Only one popover should appear, sin

[2017-07-20 14:43] joejordanbrown commented on #2
Thank you for reporting this issue.

I've tested this locally on the library demo app and I can verify that I see the problem. I will need to check to make sure that when I moved the files to the library I haven't missed anything. I know this wasn't a problem in the initial prototype I created here https://material-extended-dashboard.firebaseapp.com/popover.

[2017-07-21 23:16] joejordanbrown commented on #2
This issue has now been fixed, thank you for reporting this bug.

[2017-07-21 23:16] #2 closed

[2017-07-24 11:27] kdudzik commented on #2
Thanks a lot for fixing this issue! Unfortunately, I'm not able to test it because of another issue, I'll report it separately.

[2017-07-24 11:32] kdudzik opened #3 "Error: No provider for InjectionToken DocumentToken!"
Hi!

From version 0.1.0-alpha.4 I'm not able to use the library. In the console the following error is displayed:

`Error: No provider for InjectionToken DocumentToken!
    at injectionError (core.es5.js:1169)
    at noProviderError (core.es5.js:1207)
    at ReflectiveInjector_.webpackJsonp.../../../core/@angular/core.es5.js.ReflectiveInjector_._throwOrNull (core.es5.js:2649)
    at ReflectiveInje

[2017-07-24 16:04] joejordanbrown commented on #3
Thank you for reporting this issue.

I've fixed this now, it was a problem with the UMD bundle only. Hence why I hadn't seen the error. I have just published the update.

[2017-07-24 16:04] #3 closed

[2017-07-24 16:34] kdudzik commented on #3
Great, thanks!

[2017-07-24 16:37] kdudzik commented on #2
I've just checked the new version and the bug is **almost** fixed. Sometimes still two popovers appear (previously there were many more). Tomorrow I'll try to prepare a minimal case.

[2017-07-25 12:33] Plondrein opened #4 "when switching between popover fields, sometimes previous shows up again"
plunker copied from previous issue (1k ms delay), just changed version to latest.

http://plnkr.co/edit/8iQPE1DRSRGQjriGbjRm?p=preview

When mouse is hanging for a while at one popover-having div, after going directly to the other, previous popover shows as well as new one ( previous one hides but instantly appears again). It doesn't happen always.

[2017-07-26 20:39] joejordanbrown commented on #4
Thank you for reporting this issue.

I have fixed this bug now and just published the fix to NPM, please let me know if you have any more problems.

[2017-07-26 20:39] #4 closed

[2017-08-08 09:57] kdudzik opened #5 "MdePopoverTrigger is not exported"
According to [docs](https://github.com/material-extended/mde/blob/master/src/lib/popover/popover.md), to open the popover programmatically, you should use
`@ViewChild(MdPopoverTrigger)`
Unfortunately, the library exports the `MdePopoverTrigger` directive this way:
`export { MdePopoverTrigger as ɵb } from './popover/popover-trigger';`
So probably the only way to make it work is to import `ɵb`, whic

[2017-08-08 11:40] kdudzik commented on #5
Sorry, I haven't noticed it's already fixed in the newest version. Magnificent! :)

[2017-08-08 11:40] #5 closed

[2017-08-08 13:30] kdudzik opened #6 "AOT build fails in version 0.1.0-alpha.10"
After upgrade to 0.1.0-alpha.10 running `ng build --prod` fails with the following error:
[code]

[2017-08-08 20:54] joejordanbrown commented on #6
Thank you for reporting this issue.

I will look into this, it's strange since I've only added a new directive and fixed the exports and have not changed the build scripts.

[2017-08-08 23:45] joejordanbrown commented on #6
I've removed the problematic export, for now, it seems to be a bug in the build tool that builds the library mde.metadata.json

[2017-08-08 23:45] #6 closed

[2017-09-03 08:22] eyalhakim opened #8 "Datepicker behind popover"
Hi!

When a Datepicker was previously opened, and we open a new popover with another Datepicker inside, the new Datepicker will open in the old cdk-overlay-container which will result in it being behind the popover.

[2017-09-03 21:29] eyalhakim opened #9 "Attempting to attach an unknown Portal type. BasePortalHost accepts either a ComponentPortal or a TemplatePortal."
Occurs when trying to open a popover when code is compiled in production mode

[2017-09-04 13:36] joejordanbrown commented on #9
@eyalhakim

Thanks for reporting this, I know there were problems with this before and I fixed them in the build system. It must have come back due to changing over to the CDK, I'll investigate now.

[2017-09-04 14:20] eyalhakim commented on #9
@joejordanbrown thank you very much!

[2017-09-04 16:05] joejordanbrown commented on #9
@eyalhakim this should now be fixed. Please let me know if that problem has been resolved so I can close this issue.

[2017-09-04 16:24] eyalhakim commented on #9
@joejordanbrown resolved indeed! thank you

[2017-09-04 16:41] #9 closed

[2017-09-04 23:24] joejordanbrown commented on #8
@eyalhakim

Thanks for reporting this issue.

Is it possible for you to create a live example? You can use this [StackBlitz Template](https://stackblitz.com/fork/mde-popover) to get you started. I've imported the Popover Module to make it easier.

[2017-09-05 10:30] eyalhakim commented on #8
@joejordanbrown It's somehow fixed! thank you

[2017-09-05 13:58] joejordanbrown commented on #8
@eyalhakim That's great! Thanks for getting back to me.

[2017-09-05 13:58] #8 closed

[2017-09-05 20:51] tosehee75 opened #10 "Updating to the latest material-beta.10 breaks the this library."
[code]

[2017-09-05 20:51] tosehee75 commented on #10
Reverted the material to beta.8 makes it work. I believe there is some breaking changes introduced in .10.

[2017-09-06 12:45] joejordanbrown commented on #10
@tosehee75

Thanks for reporting the issue.

This shouldn't be a problem with the latest version `^1.0.0`, It's currently version `1.0.0-alpha.3`, have you installed the latest version? Make sure to try `npm install --save @angular/cdk@2.0.0-beta.10 @material-extended/mde@1.0.0-alpha.3` and let me know if the problem persists.

I bumped the version number because of the breaking changes. It now do

[2017-09-06 13:55] tosehee75 commented on #10
You are right. I was using the 0.1.x version.

I updated and it seems to work.

THanks.

Se Hee Lee

SVP of Technology
------------------------------

4800 N Point Pkwy, Suite 100 | Alpharetta, GA 30022
470-214-3636 | slee@deposco.com | www.deposco.com
<https://deposco.com/?utm_source=Email%20Signature>
Schedule a Conversation <http://staff.deposco.com/>

[image: Twitter]  <https://twitter.com/dep

[2017-09-06 15:52] #10 closed

[2017-09-12 13:54] honzajde opened #11 "Absolut position"
#### Bug, feature request, or proposal:
Feature

#### What is the expected behaviour?
Be able to  (absolute) position popover.
Have possibility to absolute position popover. Or move it relative to the element at least.

#### What is the current behaviour?
Position is bound a dom element (I agree there is functionality making use of it)

#### What are the steps to reproduce?

Provide a working exam

[2017-09-13 18:52] joejordanbrown commented on #11
@honzajde

Thanks for the feature request.

This definitely would be nice to have. I would also like to add more options to `positionX` and `positionY` for centring vertically and horizontal. I would need to look into this when it goes through the refactoring stage after design document is designed. How would you like to be able to configure this option? Would it still need a target element or jus

[2017-09-13 19:21] honzajde commented on #11
I'll give it another shot and let you know then.

[2017-09-18 10:33] honzajde commented on #11
I did some more experiments. I did try to define popover on a containing div of my svg and also on a div inside the div but that seemed not to be doing what I would expect. It works as expected on a button though. That could have solve together with `mdePopoverOffset` my problem.  BTW. is there any starting point plunkr out there?

[2017-09-18 13:07] joejordanbrown commented on #11
@honzajde

Thanks for getting back to me on this issue.

I would be interested to investigate the problems with using it on an SVG. I do have a plunker [here](http://plnkr.co/edit/GR1yyt?p=info) but i would prefer if you used StackBlitz [here](https://stackblitz.com/fork/mde-popover) is one that I've setup.

If you fork that StackBlitz template and add an SVG example and share the link I will look

[2017-09-21 17:23] 6matko opened #12 "Feature to disable/prevent popover from opening"
#### Bug, feature request, or proposal:
Feature request.

#### What is the expected behaviour?
Expected to disable popover from showing based on some conditions, for example, if editing is disabled.
**[mdePopoverDisabled]="true/false"**

#### What is the current behaviour?
Currently I am using **onPopoverOpen** method to pass some data from view like this:
[code]
In some cases I don't want popover

[2017-09-22 11:56] joejordanbrown commented on #12
@6matko

Thanks for the feature request.

I agree this should be added ASAP. I can see so many use cases for this. I think it should also work using `[disabled]` to work with the native disabled attribute. This would then work with the button disabled etc.

Do you think that sound reasonable?

[2017-09-22 12:14] 6matko commented on #12
Yes, it would be really reasonable. In my current case I don't use button, so ```[disabled]``` property might not work, but in button cases it would be great solution. Additionally in my personal case I run into a problem with arrow (I don't need an arrow). Maybe similar feature can be added also to disable arrow, for example, arrowWidth = 0?

[2017-09-22 14:24] joejordanbrown commented on #12
@6matko

I will add that today, I've just seen that the latest `@angular/cdk` was released last night so I will upgrade for compatibility with that too. So this feature will only work with the latest `@angular/cdk`, I hope that won't be a problem.

If you want disabled like features on custom elements you need to add accessibility attributes and the correct styles yourself to accomplish the same e

[2017-09-22 16:33] joejordanbrown commented on #12
@6matko

I just had a think about this and how disabled works on other elements, it just uses CSS `pointer-events: none;` I'm not sure if this should actually be added to the logic and instead if you apply the attribute `[disabled]` and have the following CSS it will be disabled.

**CSS**
[code]

**HTML**
[code]

I've also added the correct accessibility attributes to the trigger element. Let me k

[2017-09-25 09:29] 6matko commented on #12
@joejordanbrown Yes, the disabled property is working and fits my current use case, thank you! :)
I will play around with ```[arrowWidth]="0"``` more and if it wont help create a new issue, as you said.

[2017-09-25 09:29] #12 closed

[2017-09-29 08:32] Misiu opened #13 "Feature: consider restyling arrow"
Currently arrow is just a flat triangle, that doesn't look good on white background:
![snap 2017-09-29 at 10 28 33](https://user-images.githubusercontent.com/1741838/31007516-1a571314-a501-11e7-8741-e681d5f8769a.png)

I've added arrow in away that Bootstrap 4 does that (using ::before and ::after selectors):
![snap 2017-09-29 at 10 29 20](https://user-images.githubusercontent.com/1741838/31007541-

[2017-09-29 10:02] Misiu opened #14 "Feature: customize/disable animation"
#### Bug, feature request, or proposal:
Hi,
I'd like to ask for a way to customize/disable animation for show/hide. Currently they are hardcoded.

#### What is the expected behaviour?
Add ability to customize/disable animations.

#### What is the current behaviour?
No way to customize/disable animation

[2017-09-29 16:48] joejordanbrown commented on #13
@Misiu

Thanks for the feature request.

I had thought of doing this in the first place but I decided not to include that because the popover actually doesn't add any styling related to borders or box shadows.

When I redesign this I was thinking of removing the colour option and to just provide examples of CSS to customise the arrow. The best option would be to provide SASS with variables to chan

[2017-09-29 16:55] joejordanbrown commented on #14
@Misiu

Thanks for the feature request.

**Custom Animations**
I'm still unsure if this is possible with the current `@angular/animations`, I would need to investigate the custom animations. If you find any information regarding custom animations for libs please share.

**Disable Animations**
I will look at adding this very soon.

[2017-10-02 06:33] Misiu commented on #13
@joejordanbrown sorry for late response.
For me the approach with SASS and variables would work fine. This would remove a lot of code from typescript file. Please consider adding example how to have multiple tooltipson same page but with different look.

[2017-10-02 06:48] Misiu commented on #14
@joejordanbrown I think that disabling could be done using `@.disabled` as shown here: https://stackoverflow.com/questions/43745877/disable-animation-in-angular-2-material
but I wasn't able to do that. Maybe You can look at this?

[2017-11-02 19:37] Plondrein opened #15 "angular 5 support"
As it is out, can we expect support for latest  angular version ? :)

[2017-11-07 22:21] joejordanbrown commented on #15
@Plondrein

Yes, I've been away recently so not had time to keep up with this. I'll get that published this week, sorry for the delay.

[2017-11-08 21:16] joejordanbrown commented on #15
@Plondrein

That has now been published to support the latest Angular and CDK.

[2017-11-08 21:16] #15 closed

[2017-11-08 22:26] Plondrein commented on #15
That's cool to hear! Thanks!

[2017-11-09 16:07] eyalhakim opened #16 "ng build --prod crashes"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behaviour?

#### What is the current behaviour?
With material-extended/mde installed, ng build --prod crashes at 10%:
10% building modules 7/7 modules 0 active

The process just exists with no error.
Without aot everything works.
Without this library installed everything works.

#### What are the steps to reproduce?

Provide a

[2017-11-11 17:48] jpmous opened #17 "Feature request : option to remove all card decoration"
#### feature request :
I'd like to use popover to display an image only, without any decoration : no arrow, transparent background and no elevation.

#### What is the current behaviour?
I could removed the arrow setting width to zero and I could make background transparent but I have not found a way to suppress elevation of the card.

#### Other Comments
Great component for my others usage ! Thank

[2017-11-13 16:10] kamok commented on #11
I am unsure if I should start a new feature request, or add it here. But I need to trigger the menu to open at precisely where my mouse clicks it, not in relation to where the component was clicked.

Is there a way to do it with the current api? I looked at it but I couldn't figure it out.

[2017-11-13 18:04] joejordanbrown commented on #11
@kamok

I think this feature would fit your criteria

That's not possible with the current API. It would be a nice to have feature. This type of popover would need to have its own component that doesn't use the `for target`. I will look into this when I find some time to refactor this project.

At the moment you could have an invisible 1px by 1px element that you use for the target element and pos

[2017-11-13 18:28] kamok commented on #11
@joejordanbrown Thanks, I've also thought about doing having a layer of an invisible component to anchor the popover and have it follow the cursor. I've since switched to a static location to trigger the popover to avoid all that code for what is a small change in UX.

[2017-11-13 18:31] joejordanbrown commented on #11
@kamok

Here is an example I've just made https://stackblitz.com/edit/mde-popover-dynamic-target-position

[2017-11-13 18:42] joejordanbrown commented on #17
@jpmous

You don't need to use the card that was just for example purposes. By default the popover has no styles.

[code]

[2017-11-13 19:07] jpmous commented on #17
How I feel stupid ! I was happy to find a popover displaying a card that I kept on copy/paste code, not paying attention...

[2017-11-13 19:07] #17 closed

[2017-11-13 19:56] kamok commented on #11
@joejordanbrown Any idea how to get rid of the error saying that property `_element` is not accessible because it's private? tslint disable doesn't seem to work and i've never disabled this kind of error before...

[2017-11-13 20:14] kamok commented on #11
@joejordanbrown
I figured it out. Putting this ref into the plunkr works:
[code]

[2017-11-13 22:15] joejordanbrown commented on #11
@kamok

If the problem was relating to _element with it being private. I think it works on the demo fine but if I remember right the angular compiler now treats `private` differently than when I made this. I will fix that since that is a bug and should now be public. You then won't have to have two `@ViewChild`, look out for a new release soon. I'll fix it now.

[2017-11-13 22:52] joejordanbrown commented on #11
@kamok

Updated, renamed to `_elementRef` and it is now public.

See [StackBlitz Demo](https://stackblitz.com/edit/mde-popover-dynamic-target-position?file=app%2Fapp.component.ts).

[2017-11-14 07:19] ridj87 opened #18 "Compatible with IE"
#### Bug, feature request, or proposal:
Compatible with IE

#### What is the expected behaviour?
To work in IE

#### What is the current behaviour?
Not functioning in IE

#### What are the steps to reproduce?
Open in IE

Provide a working example using StackBlitz (or similar) to reproduce the problem.
StackBlitz Template: https://stackblitz.com/fork/mde-popover

#### What is the use-case or motiva

[2017-11-14 12:13] joejordanbrown commented on #18
@ridj87

I'm normally against supporting old browsers, but I'm guessing you have requirements that need to support such an old browser?

I will look into adding the polyfills to support this.

[2017-11-14 14:10] joejordanbrown commented on #18
@ridj87

I've checked and the library does work with I.E 11 I've updated the demo to include polyfills so that now works https://uixd.co.uk/open-source-software/material-extended/demo/ let me know if you have any problems testing it.

Thanks, appreciate it 👍

[2017-11-14 16:26] kamok opened #19 "Metadata version mismatch for module"
#### Bug, feature request, or proposal:
After updating to the latest alpha, I'm getting this error.
It seems like it can be fixed using this:
https://github.com/angular/material2/issues/8229#issuecomment-342502556

Which basically says upgrade EVERYTHING in angular and angular material to 5 RC0.
I do NOT want to do that. Is this intended?

#### What is the expected behaviour?

#### What is the cur

[2017-11-14 16:34] kamok commented on #19
I'm isolating it to this specific package. I can get around it by simply removing the imports from `app.modules` for the package, let it compile. Then of course it errors out because I'm using binding in the html from this package. So I let the imports back in. And it works.

However, my tests are showing that error.

[2017-11-14 17:41] kamok commented on #19
Ok I didn't know that 1.05 was depending on Angular 5 as well. I reverted all the way back to 1.04.

[2017-11-14 17:41] #19 closed

[2017-11-14 18:13] joejordanbrown commented on #19
@kamok

It requires Angular 5 now to use the latest version. Is there a reason you can't upgrade your project to Angular 5?

[2017-11-14 21:01] kamok commented on #19
@joejordanbrown
Since I'm working on a team, I'll have to make everyone else fix any breaking changes induced by Angular 5. Here's the changes https://jaxenter.com/road-to-angular-5-133253.html

Which is not a priority if the product has a deadline. Do you have changelog from 1.04 to 1.06? After reverting, something doesn't seem right with the dynamic positioning you did for me in the other post.

[2017-11-15 04:09] joejordanbrown commented on #19
@kamok

That's fair enough, I've found that as long as you are not using a lot of the deprecated APIs in the current app, upgrading has been pretty smooth.

I noticed that the automated changelog hasn't been receiving all the commit messages. I need to remember to follow appropriate commit messages for that to work.

#### You can see the changes [here](https://github.com/material-extended/mde/comp

[2017-11-15 10:09] ridj87 commented on #18
I tried making an example for you to check out:
https://stackblitz.com/edit/mde-popover-w3buka?file=app%2Fapp.component.html

it's the basic template but with hover instead. I can't get it to work in IE so that was little help.
I still can't get it to work in my client. I get no error messages but nothing pops up in IE.
Here is my setup for the application:

    "@angular/animations": "^5.0.1",

[2017-11-15 12:04] ridj87 commented on #18
@joejordanbrown I have tried to create a simple popover in my client now and it works, the problem seems related to me trying to add a popover to a button, inside a grid. I will investigate further what is causing the issue.

[2017-11-15 12:28] ridj87 commented on #18
@joejordanbrown it was actually the <mat-icon> that I had put the logic for the popover on that was causing the issue in IE. I moved popover triggerOn and triggerfor  to the button outside of it and now it works in IE.

[2017-11-15 12:29] #18 closed

[2017-11-22 13:23] AkhayadYassin commented on #3
@joejordanbrown

I have the same issue  with my library. Can you tell me what caused this error in the UMD bundle?

[2017-11-24 01:35] joejordanbrown commented on #3
@AkhayadYassin

Check out this commit, it may help you https://github.com/material-extended/mde/commit/e557e72a64766ad3e9970d1958fec8ddce0d3fa9

[2017-12-30 00:34] leblancmeneses commented on #13
![image](https://user-images.githubusercontent.com/730804/34450036-0a1cf402-ecc6-11e7-8533-8177d87ea95d.png)

I tried using the styles in the attached image. They look good but the cdk is adjusting the popover even when using ```mdePopoverPositionY="above"```  .   Just another edge case for this ticket.

[code]

[2018-01-12 10:08] merschel opened #20 "Some Material Components are rendered wrong in Popover"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behaviour?

![bildschirmfoto 2018-01-12 um 11 01 00](https://user-images.githubusercontent.com/28409176/34869670-eac42ebe-f787-11e7-8914-8bd300af1865.png)

#### What is the current behaviour?

If I use Material stepper or expansion-panal than it is rendered wrong. The elements are closed but shown as open.

![bildschirmfoto 20

[2018-01-13 19:26] joejordanbrown commented on #20
@merschel

Thank you for reporting this issue.

Looking into this I don't think this is an issue/bug with this component but rather the `mat-accordion` component, when the popover component injects the popover and it's children, `mat-expansion-panel-header` should have `style="height: 48px;"` but this is missing, that's why you are seeing the UI problem. You can see the issue and information regar

[2018-01-14 18:00] #20 closed

[2018-01-17 10:41] realshadow commented on #9
@joejordanbrown I have the same problem, sadly I am stuck at version 1.0.0-alpha.0 due to project dependencies. Any idea how can I fix this issue? I can not find the relevant commit in history

[2018-02-20 12:21] stocksr opened #21 "Error with AOT Build"
#### Bug, feature request, or proposal:
if I enable the property fullTemplateTypeCheck as recommended by https://angular.io/guide/aot-compiler#fulltemplatetypecheck

I receive the following error:

`ERROR in node_modules\@material-extended\mde\mde.d.ts.MdePopover.html(1,105): : Property '_classList' is private and only accessible within class 'MdePopover'.`

#### What is the expected behaviour?
no

[2018-02-22 05:16] joejordanbrown commented on #21
@stocksr

Thank you for reporting this issue.

I'll push a fix to resolve this issue today.

[2018-02-22 09:47] stocksr commented on #21
Many thanks - tested with @material-extended/mde@1.0.0-alpha.10 and it is working correctly

[2018-02-25 03:45] joejordanbrown commented on #21
@stocksr

Great! Thank you for the update.

[2018-02-25 03:45] #21 closed

[2018-03-10 06:23] badwei opened #22 "Bug! Dones't work"
angular-version:5.2.6
angular-cdk version:5.2.4

ERROR
TypeError
columnNumber: 9
fileName: "http://localhost:3000/main.bundle.js line 95 > eval"
lineNumber: 1136
message: "this._connectedTo is undefined"
ngDebugContext: Object { view: {…}, nodeIndex: 34, nodeDef: {…}, … }
ngErrorLogger: function bound ()
stack: "ConnectedPositionStrategy@webpack-internal:///./node_modules/@angular/cdk/esm5/overlay

[2018-03-14 17:36] joejordanbrown commented on #22
@badwei

Thank you for reporting this issue.

Please follow the issue template and submit a repo when possible.

I've tested this with the versions you stated and it works fine on StackBlitz see here https://stackblitz.com/edit/mde-popover

If you could provide a repo that has this error I'll be happy to help.

[2018-03-15 08:14] badwei commented on #22
Thank you for your help. I think I have found out why the error occurred. this error occurred when I set the [mdePopoverTargetAt] attribute to refer to a div. But when the target div object changes to mat-toolbar, this error no longer occurs.  I tried to debug the source code, but did not get any useful solution to the problem. Finally I don't set [mdePopoverTargetAt] to fixed this error.

[2018-03-15 21:06] joejordanbrown commented on #22
@badwei

I'm glad you managed to work it out in the end.

The reason that you can't target a native element div is that it's not an Angular component so it doesn't expose the ElementRef. I created a directive to fix this `mdePopoverTarget`, you can see the example here https://github.com/material-extended/mde/blob/master/src/lib/popover/popover.md#popover-position-target-native-element-with-direct

[2018-03-15 21:06] #22 closed

[2018-04-18 10:32] gauravkfoujdar commented on #3
Thank you

[2018-05-07 16:15] Szayet opened #23 "Bug: Material expansion panels are opened inside popover"
#### Bug, feature request, or proposal:

As the title suggests, inside a popover window the expansion panels are opened by default, even though angular thinks they are closed.

#### What is the expected behaviour?

The panels should be left alone, so their respective expanded input would decide their visibility state.

#### What is the current behaviour?

They are opened by default. User has to cl

[2018-05-08 16:03] joejordanbrown commented on #23
@Szayet

Thank you for reporting this issue.

This is a known bug with the Material Expansion Panels. You can see a previous issue that was created regarding this issue with the popover here #20.

For more details and a temporary fix, you can follow this material issue https://github.com/angular/material2/issues/5269

[2018-05-08 16:03] #23 closed

[2018-05-14 09:40] skrtheboss opened #24 "Angular 6 support"
#### Bug, feature request, or proposal:
Upgrade dependencies to support NG6

#### What is the expected behaviour?
Should support angular 6

#### What is the current behaviour?
It does not support angular  6

#### What are the steps to reproduce?
- NG6 app with @material-extended/mde

#### What is the use-case or motivation for changing an existing behaviour?
Angular 6 has been released

#### Which

[2018-05-14 18:35] tosehee75 commented on #24
bump

[2018-05-17 01:29] joejordanbrown commented on #24
@skrtheboss @tosehee75

Thanks for the reporting this issue.

If you tag/ping me directly in future I'll see the notifications sooner.

You're welcome to create pull requests with the required Angular 6 changes. I'll get this updated and I should have it published today.

[2018-05-18 10:09] eyalhakim commented on #24
@joejordanbrown Hi, i see that you made the changes, but didn't publish to npm yet?

[2018-05-18 20:43] sdornan commented on #24
Looking forward to this update!

[2018-05-18 20:48] tosehee75 commented on #24
same here. Looking forward to it.

[2018-05-19 00:46] joejordanbrown commented on #24
@skrtheboss @tosehee75 @eyalhakim @sdornan

Great news the [@material-extended/mde](https://www.npmjs.com/package/@material-extended/mde) package has been released to npm.

[2018-05-19 12:03] skrtheboss commented on #24
@joejordanbrown

Looks awesome, but you forgot to put the `@angular/animations` in your peer dependencies, or am I wrong?

[2018-05-21 14:02] stocksr opened #25 "Error when using fullTemplateTypeCheck"
#### Bug
When using fullTemplateTypeCheck in the AOT compiler I get the following error message
```Directive MdePopoverTrigger, Expected 1 arguments, but got 0.```

#### What is the expected behaviour?
No Error

#### What are the steps to reproduce?
Attempt to build with AOT and ```"angularCompilerOptions": {"fullTemplateTypeCheck": true}```

#### Which versions of Angular, Material-Extended, OS,

[2018-05-21 20:42] tosehee75 commented on #24
Cannot find module '@material-extended/mde/popover

I get this error with latest mde 2.0.0

[2018-05-21 20:48] tosehee75 commented on #24
import {MdePopover} from "@material-extended/mde/lib/popover";

Does it change to above?

[2018-05-22 17:43] skrtheboss commented on #24
@tosehee75

Why are you doing deep import of the MdePopover component? Just import it like so `import {MdePopover} from "@material-extended/mde";`.

[2018-05-22 19:13] skrtheboss commented on #24
@tosehee75

I've done a  [StackBlitz here](https://stackblitz.com/edit/mde-popover-skvvx2?file=app%2Fapp.component.ts).

Don't know what you are doing wrong, but to me is seems to be working perfectly.

[2018-05-22 19:23] tosehee75 commented on #24
Thanks.

I must have missed it somehow.. Thanks again.

[2018-05-23 08:39] skrtheboss opened #26 "Cannot read property 'buttons' of undefined"
#### Bug, feature request, or proposal:
PopoverTrigger trows an error when opened with a mouse click.
`Cannot read property 'buttons' of undefined`

#### What is the expected behaviour?
Should not throw an error

#### What is the current behaviour?
Throws an error

#### What are the steps to reproduce?
[StackBlitz](https://stackblitz.com/fork/mde-popover)

Just open the console and click on a butt

[2018-05-24 14:22] joejordanbrown commented on #25
@stocksr

Thanks for reporting this issue.

I will look into this shortly and hopefully push a fix soon.

[2018-05-24 14:33] joejordanbrown commented on #24
@skrtheboss

Yes, that's correct `@angular/animations` should have been a peer dependency. It's now amended.

[2018-05-24 14:33] #24 closed

[2018-05-25 12:09] lucypoly opened #27 "ERROR TypeError: this._overlay.position(...).flexibleConnectedTo is not a function"
#### Bug:
There is error when clicking on tooltip:
ERROR TypeError: this._overlay.position(...).flexibleConnectedTo is not a function

#### Which versions of Angular, Material-Extended, OS, TypeScript, browsers are affected?
 angular/cli: "^1.7.3",
 angular/core: "^5.2.9",
  angular/cdk: "^5.2.4",
 "typescript": "^2.8",

[2018-05-25 14:39] joejordanbrown commented on #27
@lucypoly

Please provide output from `ng version`.

If you're using v2 then this is only compatible with Angular CDK `^6`.

Which version of this library are you using?

[2018-06-02 20:31] #27 closed

[2018-06-04 15:43] malinges opened #28 "Popover first opens "upside down" with mdePopoverTriggerOn="hover""
#### Bug, feature request, or proposal:
Bug

#### What is the expected behaviour?
Correct orientation:
![capture d ecran 2018-06-04 a 11 37 09](https://user-images.githubusercontent.com/1636924/40926947-74d5ce0e-67eb-11e8-85f8-139870d8dbd8.png)

#### What is the current behaviour?
Incorrect orientation when hovering over the trigger _for the first time_ (subsequent hovers work fine):
![capture d e

[2018-06-08 00:15] joejordanbrown commented on #28
@malinges

Thanks for reporting this.

I will investigate this issue, something must have changed when updating to the latest CDK.

I would like to refactor the way the arrow position is set and styled at some point, but I'm struggling to find the time at the moment.

[2018-07-05 07:50] skrtheboss commented on #25
Any updates on this issue?

[2018-07-12 05:59] paigudepooja opened #29 "How to keep that popover open on click ?"

[2018-07-13 05:18] smartHasmukh commented on #27
@joejordanbrown I got same error

** Package.json **

[code]

**Error code**

[code]

[2018-07-13 21:52] cerbaro commented on #28
@joejordanbrown

Thanks for sharing and maintaining this package. It helped me a lot.
I'll take a look on the codes and try to contribute.. let's see.

@malinges
I was able to get it working adding  `mdePopoverPositionY="above"` to the popover element.
Just in case you wanna try..

Best,

[2018-07-15 17:55] ester969 commented on #25
i got error when ckick mdepopover in angular 5 : this._overlay.position(...).flexibleConnectedTo is not a function
please help !!

[2018-07-15 17:57] ester969 commented on #28
i got error when click mdepopover in angular 5 : this._overlay.position(...).flexibleConnectedTo is not a function
please help !!
 <button mat-raised-button color="primary"
    [mdePopoverTriggerFor]="appPopover"
    mdePopoverTriggerOn="click">
    Show Popover
  </button>

  <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
    <mat-card style="max-width: 300px">
      <m

[2018-07-27 02:10] varunprakas opened #31 "button click event inside the the popover content"
I have a small form with 'cancel' and 'submit' button inside the popover. i am trying to close the popover after user submit the form. i tried many ways which is explained in the popover. unfortunately it didn't work. is there any work around on this scenario?

**TS file**

[code]

**Html file**

[code]

[2018-07-29 05:41] varunprakas commented on #31
TS file
`
import { Component } from '@angular/core';

@Component({
  selector: 'my-app',
  templateUrl: './app.component.html',
  styleUrls: [ './app.component.css' ]
})
export class AppComponent  {
  name = 'Angular 6';
  flag = false
  cancelPopover(e){
    this.flag = true
  }
}
`
Html file

`<mat-toolbar color="primary">
  <h1>Angular Material Popover Example</h1>
</mat-toolbar>

<div class="c

[2018-07-29 15:30] joejordanbrown commented on #31
@varunprakas

Yes that's possible, please see this example here that I've created https://stackblitz.com/edit/mde-popover-example-toggling-the-popover-programmatically

[2018-07-29 15:38] joejordanbrown commented on #29
@paigudepooja

Sorry for the slow reply, I've been away.

You are looking for `[mdePopoverCloseOnClick]="false"`, you can see the documentation here https://github.com/material-extended/mde/blob/master/projects/material-extended/mde/src/lib/popover/popover.md.

[2018-07-30 02:48] varunprakas commented on #31
Thanks Joe for the help,

I am using this popover in multiple times in a loop. when i try to use the multiple popover . when we click on the first button the popover working perfectly with close button but when we click on the second button both popover window appeared in the view. i am mentioning the code below

[code]

[2018-07-31 07:38] joejordanbrown commented on #31
@varunprakas

You will need to use `@ViewChildren(MdePopoverTrigger) trigger: QueryList<MdePopoverTrigger>;`, see example here https://stackblitz.com/edit/mde-popover-example-multi-toggling-the-popover-programmatically

[2018-08-01 11:50] joejordanbrown commented on #31
@varunprakas

That's due to `_results` being private, you will need to use `toArray()` like this `this.trigger.toArray()[id].togglePopover();` for it to work correctly.

I've updated the example to use `toArray()` https://stackblitz.com/edit/mde-popover-example-multi-toggling-the-popover-programmatically

[2018-08-01 11:56] #29 closed

[2018-08-01 15:53] varunprakas commented on #31
Thanks you so much for your support and help :)

[2018-08-06 04:34] #31 closed

[2018-08-07 17:09] badwei opened #32 "dynamically read data for popover panel"
When I need to open popover, trigger the open event to load data from the remote, what should I do. Sometimes we need to read the data dynamically, instead of getting the data in the popover ready at the beginning. Thank you

[2018-08-08 04:27] #32 closed

[2018-08-08 04:27] badwei commented on #32
i has fixed it

[2018-08-08 04:28] badwei commented on #32
i had fixed and close

[2018-08-08 06:50] varunprakas commented on #31
Hi Joe,

I am using `Angular 5.0` and `@material-extended/mde": "1.0.0-alpha.6`
Wether the above solution will work or not. if not let me know the solution please

Thanks
Varun

[2018-08-08 07:04] varunprakas opened #33 "button click event inside the the popover content is not working in `angular 5.0` and `@material-extended/mde": "1.0.0-alpha.6`"
Hi Joe,

The issue related to the below thread which we already discussed
https://github.com/material-extended/mde/issues/31

I am using `Angular 5.0` and `@material-extended/mde": "1.0.0-alpha.6`
Wether the above solution will work or not. if not let me know the solution please

Thanks
Varun

[2018-08-13 11:53] joejordanbrown commented on #33
@varunprakas

Please create a demo with how you have your angular component set out using https://stackblitz.com/edit/mde-popover-example-multi-toggling-the-popover-programmatically you can fork that and edit the library versions that are imported on the left to what you currently use, I will then be able to see the issue you are facing.

[2018-08-15 11:35] #25 closed

[2018-08-15 12:34] joejordanbrown commented on #27
@lucypoly @smartHasmukh

This issue is most likely related to you using Angular 5 when version 2 of this package is aimed towards Angular 6. You can try using an older version of this package or upgrading to Angular 6.

[2018-08-15 12:41] #33 closed

[2018-08-24 20:31] rdgfuentes opened #34 "Popover mispositioned and detached when triggering on hover if the trigger element is removed from the DOM"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behaviour?
The popover should disappear if the trigger element (or specific target -mdePopoverTargetAt-) is removed from the DOM before the popover is displayed after the enter delay has transcurred.

#### What is the current behaviour?
The popover is displayed mispositioned at the top left corner of the page.

#### What are th

[2018-08-25 08:22] shuhkla opened #36 "Feature: Add an option to disallow popover from closing when clicked outside of its body"
#### Bug, feature request, or proposal:

Feature Request

#### What is the expected behaviour?

Have the popover stay opened when the user clicks outside of popover body

#### What is the current behaviour?

Popover will close when the user clicks anywhere on the page outside the popover.

#### What are the steps to reproduce?

This is reproducible on the demo page:
https://uixd.co.uk/open-source-

[2018-09-15 10:54] #34 closed

[2018-09-15 21:57] #36 closed

[2018-09-15 21:59] joejordanbrown commented on #36
@shuhkla

This feature has just landed in the master, it will require `[mdePopoverBackdropCloseOnClick]="false"` to be set on the trigger element.

[2018-09-27 20:09] Nikhil-Pahwa commented on #28
Any update on this? When this issue will be fixed?
I tried `mdePopoverPositionY="above"` to the popover element but it does not work. Still popover opens upside down on first.

[2018-10-21 23:59] harryy2510 opened #37 "Please update peerDependencies for angular 7"
Please update peerDependencies for angular 7

[2018-10-31 17:06] joejordanbrown commented on #37
@harryy2510

Sorry about the delay, I should state somewhere that when creating issues you should ping me directly with @joejordanbrown to be sure i receive the notification promptly.

I started this when v7 was released but haven't had time to test just yet; I'll find some time this week, you're open to creating a pull request though.

[2018-10-31 21:38] harryy2510 commented on #37
#38

[2018-11-06 14:11] kostia-lev commented on #37
@joejordanbrown please check the pull request

[2018-11-13 15:54] andypopa opened #39 "Could not resolve './popover-module' from dist/material-extended/mde/esm2015/public-api.js"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behaviour?
The library should compile when running npm run build:library

#### What is the current behaviour?
The library does not compile

`> @material-extended/mde@2.1.1 build:library /Users/andreipopa/skyborg-app/node_modules/@material-extended/mde

Building Angular Package
Building entry point '@material-extended/mde'
Compi

[2018-11-13 20:53] harryy2510 commented on #37
@joejordanbrown Please check now!

[2018-11-22 07:04] niran-manandhar opened #40 "is there an event for opened?"
what is the event for opened?

[2018-11-22 12:46] kostia-lev commented on #37
removed this plugin from my project, it seems to be not supported anymore

[2018-11-24 13:31] scharnyw commented on #37
For now you can just use a local copy and modify the peer dependencies instead of using npm. Don't think any code change is needed to work with Angular 7. I'm sure the author will get around to updating it soon enough.

[2018-11-29 16:19] tesfayet11 commented on #28
Any Update on this issue?` mdePopoverPositionY="above"` doesn't solve it.

[2018-11-29 23:39] joejordanbrown commented on #40
@niran-manandhar

Yes, `MdePopoverTrigger` has an event `opened`, you can find the docs [here](https://github.com/material-extended/mde/blob/master/projects/material-extended/mde/src/lib/popover/popover.md).

[2018-11-30 14:33] rdgfuentes commented on #28
I've been looking into this issue and at first glance it seems to be caused by the persistence of the previous popover's arrow direction that was shown.  I also noted that when this bug appears, the arrow changes to its correct orientation right after you move the mouse over the element that triggers the popover. I'll keep investigating and I'll try to fix it 🤞

[2018-12-03 01:47] #40 closed

[2018-12-07 08:56] djadjavit opened #41 "Add argument "backdrop disable""
#### Bug, feature request, or proposal:
Add argument "backdrop disable"

#### What is the expected behaviour?
if this argument true, cdk-overlay-backdrop not show

#### Other Comments
I need to disable backdrop, it would be great if it were possible to disable not only the click on the backdrop, but the backdrop itself. Or perhaps you know how to do it now? Anyway, thanks for the good library.

[2018-12-11 02:36] joejordanbrown commented on #37
@harryy2510 @kostia-lev @scharnyw @Plondrein

Sorry for the delay, I've been to busy with work lately.

[2018-12-11 02:36] #37 closed

[2018-12-11 02:39] joejordanbrown commented on #39
@andypopa

I didn't have this issue when testing that fork. I've released the Angular 7 version now.

Let me know if you have any issues with the new package.

[2018-12-11 02:39] #39 closed

[2018-12-11 02:50] joejordanbrown commented on #41
@djadjavit

The backdrop is only rendered with `mdePopoverTriggerOn="click"`, you can see that here [popover-trigger.ts#L359-L362](https://github.com/material-extended/mde/blob/master/projects/material-extended/mde/src/lib/popover/popover-trigger.ts#L359-L362), you shouldn't need to disable it seeing as when you use other events it's not initiated.

I can see that it might be useful to have an opt

[2018-12-26 07:11] chiragkanhasoft opened #42 "Use it for dynamic content within Angular Material Table"
#### Bug, feature request, or proposal:

**how to use it for dynamic content withing angular material table ?**

[2019-01-11 16:10] tirupati07 opened #43 "Access Mde Popover component form an other component"
#### feature request, or proposal:
How to access the mde-popover with button template reference outside the component?

#### What is the expected behaviour?
 <button mat-raised-button color="primary"
  [mdePopoverTriggerFor]="appPopover"
  mdePopoverTriggerOn="click">
  Show Popover
</button>

#### What is the current behaviour?
I was trying to call [mdePopoverTriggerFor] form a custom button I ha

[2019-02-04 14:16] madzinah opened #44 "Opened boolean"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behaviour?
Mat-Menu is giving a boolean _opened_ to give the information whether the menu is open, it could be nice to have a _opened_ boolean variable on the MdePopoverTrigger like it exists already on the MatMenuTrigger : https://material.angular.io/components/menu/api#MatMenuTrigger

#### What is the current beha

[2019-03-26 11:27] hide-pms commented on #13
how set Arrow placement left right?

[2019-05-03 09:28] kkseven07 commented on #42
Any news?

[2019-05-08 14:03] tirupati07 opened #47 "Resizable Popup"
#### Bug, feature request, or proposal:
Resize the popup window once it is opened.

#### What is the expected behaviour?

#### What is the current behaviour?
No way we can resize the window as of now.

#### What are the steps to reproduce?

Provide a working example using StackBlitz (or similar) to reproduce the problem.
StackBlitz Template: https://stackblitz.com/fork/mde-popover

#### What is th

[2019-05-11 10:26] kevinLourencoDev commented on #28
Hello all, I wanted to implement this popover and i was blocked because of this beug. It's not user friendly in case there is action into the content like an external link cause the popover change his direction on mouseleave and disappear... The user have to rehover the element in order to click on the link into the popover content.

<img width="415" alt="Capture d’écran 2019-05-11 à 12 11 11" s

[2019-05-14 22:53] joejordanbrown commented on #28
@malinges @cerbaro @Nikhil-Pahwa @tesfayet11 @rdgfuentes @kevinLourencoDev

Good news, this has now been fixed. I have merged and published a new package.

Please thank @kostia-lev for creating a pull request with the relevant fix.

[2019-05-14 22:56] joejordanbrown commented on #47
@tirupati07

The size of the popover is set by the containing element.

Can you provide further details or show an example of the issue in question?

[2019-05-14 22:57] #28 closed

[2019-05-14 22:58] #14 closed

[2019-05-14 23:01] joejordanbrown commented on #42
@chiragkanhasoft @kkseven07

Please provide an example on StackBlitz of the Angular Material table that you're trying to implement the popover on.

[2019-05-20 15:48] joejordanbrown commented on #44
@madzinah

Thanks for the feature request. Sorry about the slow reply.

After reviewing the source, I can see this feature already exists but is not documented, see source [popover-trigger.ts#L189](https://github.com/material-extended/mde/blob/488d556ae881b39efa4656797d1ad3caabc5349b/projects/material-extended/mde/src/lib/popover/popover-trigger.ts#L189).

Using `popoverTrigger.popoverOpen` will r

[2019-05-20 16:05] joejordanbrown commented on #43
@tirupati07

Sorry about the slow reply.

Could you provide an example on StackBlitz how your components are set up? This will help me see exactly how we could overcome your issue.

You can use https://stackblitz.com/fork/mde-popover to create an example.

I'm wondering if having the popover component in its own component just how the Material Dialog works could fix your issue. You can see the exa

[2019-05-20 16:43] joejordanbrown opened #48 "Bug: CdkTrapFocus broken"
#### Bug:
CdkTrapFocus broken

#### What is the expected behaviour?
When popover contains a focusable element it should focus to the first focusable item or the item with the `cdkFocusInitial` attribute.

#### What is the current behaviour?
Not working because of the CdkTrapFocus on [popover.html#L7](https://github.com/material-extended/mde/blob/master/projects/material-extended/mde/src/lib/popove

[2019-05-21 18:27] anishcp opened #49 "Popover flickering with large contents"
#### Bug, feature request, or proposal:
The popover is flickering with large text contents.

#### What are the steps to reproduce?

https://stackblitz.com/edit/mde-popover-ugqcfs

[2019-05-24 22:09] joejordanbrown commented on #49
@anishcp

That's sometimes an issue when using hover to trigger, increasing the default leave delay `mdePopoverLeaveDelay` should resolve that issue.

[code]

https://stackblitz.com/edit/mde-popover-vdwkgn?file=app/app.component.html

Let me know if you're still having an issue.

[2019-05-31 06:22] Plondrein opened #50 "Update peerDependencies for angular 8"
Please update peerDependencies for angular 8

[2019-06-02 19:23] joejordanbrown commented on #50
@Plondrein

The latest version has been pushed to NPM.

[2019-06-02 19:23] #50 closed

[2019-06-02 19:24] #49 closed

[2019-06-02 19:25] #43 closed

[2019-06-02 19:25] #47 closed

[2019-06-02 21:14] Plondrein commented on #50
Thanks a lot :)

[2019-06-11 07:05] pritibaheticompumatrice commented on #31
When I try to close popover on clicking on cancel button it doesn' close it on first click. I need to again click on the cancel button and it closes the popover. I m using multiple popovers.
Following is the code for closing pop-over:
`closePopover(id:number){
this.trigger.toArray()[id].togglePopover();
}`

[2019-06-12 16:05] joejordanbrown commented on #31
@pritibaheticompumatrice

Please create a demo of your issue on stackblitz.com, I will then be able to assist.

[2019-06-27 23:49] #48 closed

[2019-07-09 18:06] martuk-and opened #54 "Bug: flickering popover"
Bug
Open https://uixd.co.uk/open-source-software/material-extended/demo/ in Chrome Browser.
Move mouse over "Hover me". Do not move mouse during and after opening popover. Popover will open and close every second.

[2019-07-10 05:59] sameerthekhans commented on #31
@joejordanbrown [As you said](https://github.com/material-extended/popover/issues/31#issuecomment-409125829), What if i have nested ngfor [see example](https://stackblitz.com/edit/mde-popover-9twqbf?file=app/app.component.html) - Currently I am using foreach and checking which popover is opened and then closing it

[2019-07-11 06:52] pritibaheticompumatrice commented on #31
@joejordanbrown My issue is solved. It was occurring because of other bug from my code. I was using stop propagation so it was not letting me close the popover on the first click as it stops every action.  I found a workaround for it. Now your code is working fine for me.
Thanks.

[2019-07-13 14:36] joejordanbrown commented on #54
@martuk-and

That demo needs to be rebuilt from the current version because It's using the very early Alpha version of this project.

Thanks for reminding me about that example, I will add it to my todo list to update that demo every time I release a new version to keep that up to date going forward.

If you can provide an example on StackBlitz of this still happening on the latest version, I'd be

[2019-07-17 14:10] kevinLourencoDev opened #57 "Popover first opens arrow bad position with changeDetection: ChangeDetectionStrategy.OnPush"
#### Bug :

When we **first opens the popover**, the arrow is not good positionned. We already facing this kind of issue here : #28
The bug have been fixed with a good utilisation of zone due to @kostia-lev

But in an application that use  changeDetection: ChangeDetectionStrategy.OnPush the bug occur again :

![bug-popover-arrow](https://user-images.githubusercontent.com/45124458/61379248-76f0ad00

[2019-07-17 21:10] joejordanbrown commented on #57
@kevinLourencoDev

Thanks for your detailed bug report.

I will look into this when I have time, but I can't guarantee that will be this week, I'm currently very busy.

You are welcome to create a pull request if this is urgent for you.

[2019-07-17 22:05] #54 closed

[2019-07-18 20:46] #57 closed

[2019-07-18 21:31] joejordanbrown commented on #57
@kevinLourencoDev

Good news I managed to find a little bit of time to fix this today.

I've just pushed the changes to NPM [@material-extended/mde@^2.3.1](https://www.npmjs.com/package/@material-extended/mde).

**With fix:**
https://stackblitz.com/edit/angular-popover-onpush-demo

**Without fix:**
https://stackblitz.com/edit/angular-popover-onpush-broken

Let me know if you have any issues.

[2019-07-19 08:28] kevinLourencoDev commented on #57
@joejordanbrown

Thanks you a lot, it's perfect now !

[2019-08-16 12:05] pacocom opened #58 "Can't destroy on ngAfterViewInit"
#### Bug, feature request, or proposal:
I want a conditional destroy popover on ngAfterViewInit or better **if it possible open popoverDiscount only with programmable code WITHOUT using mdePopoverTriggerFor**.

[code]

[code]
#### What is the expected behaviour?
I want to destroy popoverDiscount on ngAfterViewInit or Toggle popoverDiscount without directive mdePopoverTriggerFor, that is, only with

[2019-08-23 07:45] kkseven07 opened #59 "Popover does not work with fullscreen"
Seems like popover doesn't appear in fullscreen mode. Any solutions?

[Stackblitz example](https://stackblitz.com/edit/ngx-graph-demo-pm8i1t)

Nodes of the tree are the triggers to show the popover.

[2019-08-27 21:35] joejordanbrown commented on #59
@kkseven07

After looking into this, I found that the `@angular/cdk` overlay requires you to use the `FullscreenOverlayContainer` for the overlay to work correctly in fullscreen mode. See here https://material.angular.io/cdk/overlay/overview#full-screen-overlays for more info.

I've updated your StackBlitz demo with the required provider https://stackblitz.com/edit/ngx-graph-demo-mde-popover-fulls

[2019-08-28 07:07] pacocom opened #60 "MdePopover on top MatDialog"
I have the same problem, any solution?

I am using **MatDialog** https://material.angular.io/components/dialog/api and **MdePopover** https://github.com/joejordanbrown/popover/blob/master/projects/material-extended/mde/src/lib/popover/popover.md

I want MatDialog on top of MdePopover

![image](https://user-images.githubusercontent.com/7735329/63833364-258e1000-c973-11e9-964b-8e9d9f02a052.png)

Ver

[2019-08-28 13:28] joejordanbrown commented on #60
@pacocom

Please create a demo using our StackBlitz template here https://stackblitz.com/edit/mde-popover, I will then be able to debug what the issue is and help to resolve it.

[2019-08-29 05:16] #59 closed

[2019-08-29 16:44] pacocom commented on #60
I added code this https://stackblitz.com/edit/mde-popover

Thank!

[2019-08-29 17:56] joejordanbrown commented on #60
@pacocom

This is a timing issue with the popover and MatDialog, maybe settings the `mdePopoverEnterDelay` to `0` would help for certain scenarios. Both of the popover and dialog use the `@angular/cdk` for the overlay.

Can you show a real-life example where this would happen? Since triggering them both via `ngOnInit` at the same time is not realistic, and this wouldn't happen when using trigger h

[2019-09-04 20:12] joejordanbrown commented on #60
@pacocom I'm closing this for now. If you come back with a reply, ping my username so I can get notified.

[2019-09-04 20:12] #60 closed

[2019-09-04 20:13] joejordanbrown commented on #58
@pacocom

I will find some time to work on a pull request for this soon, and I'll update you once it's published.

[2019-09-05 09:52] pacocom commented on #60
Ok!, sorry for the late answer.

A example: if I need to open in a view a popover and inside the view a onboarding.

Very thanks.

[2019-09-05 11:59] pacocom opened #61 "Can't fixed popover when scroll"
#### Bug, feature request, or proposal:
When I scroll the popover move with the scroll because change position: static.

How can I position a static popover (it does not move with scroll)?

#### What is the expected behaviour?
I dont want move popover with scroll

#### What is the current behaviour?
Now if scroll popover move with it.

#### What are the steps to reproduce?
When you have a big heig

[2019-09-06 12:28] Santoshah opened #62 "My popover flicks on scroll."
#### Bug, feature request, or proposal:
My popover stays fix on scroll. It stays on the top while scrolling. and when scroll back to top the width , right etc properties get update and flick the size of the box.

#### What is the expected behaviour?
It should have scroll up with the screen. And the width of the popup should remain the same.

#### What is the current behaviour?
It stays on the top

[2019-09-07 13:20] Santoshah commented on #61
I have the same issue. Please let me know if you found solution.

[2019-09-09 16:11] joejordanbrown commented on #60
@pacocom

If you can showcase that, and the issues are not caused by a programming error on your part. I can look into it and showcase this issue to the @angular/cdk/overlay team because that is what controls the order of overlays in Material and this popover.

[2019-09-12 11:11] viktor-naboka-gl opened #63 "Incorrect mdePopoverOffsetX and mdePopoverArrowOffsetX calculation on inverted state"
#### Bug:
In case if mdePopoverOffsetX was set popover positioning incorrect in the inverted state.

#### What is the expected behaviour?
In the inverted state (if space from expected side is not enough for view)  offset must be calculated from inverted  side.

#### What is the current behaviour?
Popover positioning in some case goes beyond the screen.
Offset works correct only for case when space

[2019-10-13 19:44] OLDIN opened #64 "Please add triggering on context menu with overlay"

[2019-11-22 09:34] clegeard commented on #42
Hi, I have the same issue with Ngx-Datatable.
I have managed to use in a cell but I would like to add it to the row instead.

Here is my code:

[code]
This is working ok, but how should I do to have the popover showing up when the user hovers on the row?

Thanks

[2019-11-25 09:06] kdatar1604 commented on #49
Hello @joejordanbrown : I am facing this flickering issue and I tried it in above example share it flickers when focus is at border

[2020-01-05 09:32] behuda commented on #11
@joejordanbrown the above works, but when mouse is clicked outside of div it doesn't closes the popover

[2020-01-30 18:58] yoenispantoja commented on #62
In file: @material-extended\mde\fesm2015\material-extended-mde.js, move to line 788:
`overlayState.scrollStrategy = this._overlay.scrollStrategies.reposition();`
Try change the scrollStrategies. Instead of "reposition()" you can use .noop(), .close() or .block() by convenience
I learn this in this post:
https://blog.thoughtram.io/angular/2017/11/20/custom-overlays-with-angulars-cdk.html.

Good luc

[2020-02-22 12:21] Hasan-git opened #68 "Error: An accessor cannot be declared in an ambient context."
#### Bug, feature request, or proposal:
node_modules/@material-extended/mde/lib/popover/popover.d.ts(42,9): error TS1086: An accessor cannot be declared in an ambient context.

#### What is the expected behaviour?
no error

#### What is the current behaviour?

#### What are the steps to reproduce?

Provide a working example using StackBlitz (or similar) to reproduce the problem.
StackBlitz Templat

[2020-02-22 12:24] Hasan-git commented on #68
Thank you , downgrade @material-extended/mde version to 2.3.0 fixes the issue

[2020-02-22 12:24] #68 closed

[2020-03-11 12:58] BeckhamL opened #70 "How can I close the popover when I leave the trigger?"
#### Bug, feature request, or proposal:

#### What is the expected behaviour?

#### What is the current behaviour?

#### What are the steps to reproduce?

Provide a working example using StackBlitz (or similar) to reproduce the problem.
StackBlitz Template: https://stackblitz.com/fork/mde-popover

#### What is the use-case or motivation for changing an existing behaviour?

#### Which versions of A

[2020-03-12 22:50] joejordanbrown commented on #70
Hello @BeckhamL

You can use `closePopover()` method, see docs [here ](https://github.com/joejordanbrown/popover/blob/master/projects/material-extended/mde/src/lib/popover/popover.md#methods-1).

Use like `popoverTrigger.closePopover()`, an example with a button has `(focusout)="popoverTrigger.closePopover()"`.

See the demo here https://stackblitz.com/edit/mde-popover-close-on-focusout?file=app/a

[2020-03-13 01:26] BeckhamL commented on #70
Yes, thank you so much!

[2020-03-13 14:21] joejordanbrown commented on #70
@BeckhamL

I think I understand what you mean now.

You'd like to turn off the hover event on the popover because this keeps it open correct?

The easiest way to accomplish this is by disabling the trigger from managing events via `mdePopoverTriggerOn="none"` and then adding custom events using `(mouseenter)="popoverTrigger.openPopover()" (mouseleave)="popoverTrigger.closePopover()"`.

[code]

See

[2020-03-13 14:32] BeckhamL commented on #70
Yes, this is exactly what I needed. Thank you so much!

[2020-03-13 14:32] #70 closed

[2020-04-09 19:33] lixaotec opened #72 "Position Right to the button"
How can I position to the right center of a button?

mdePopoverPositionX="after" seem not work

something like that:
![image](https://user-images.githubusercontent.com/40803484/78933503-cdc69400-7a7f-11ea-8ecd-751e6797ec5d.png)

thanks

[2020-05-02 05:49] lixaotec opened #73 "Behavior at mobile devices"
Dear fellows,

I´ve noticed that popover´s on mobile devices replaces actual (click) behavior, instead of buttons actions for ex, it shows the popover. Actual button click only works when i quickly press 2 times the button.

Is this expected ? It seems anoying.

Have you experienced that?

How would I change this behavior?

Thanks.

[2020-06-02 19:00] PTC-JoshuaMatthews opened #74 "An accessor cannot be declared in an ambient context."
Firstly I love this component. I'm amazed there isn't an official popover in the angular material library. Great work and filling an important need!

#### Bug, feature request, or proposal:

When I add this component to my angular 8 projects I get a bunch of build errors like

`90     get focusTrapEnabled(): boolean;
[code]

[2020-06-04 23:43] gcherem commented on #11
@joejordanbrown, is there a way to show the arrow in the example
https://stackblitz.com/edit/mde-popover-dynamic-target-position ?

[2020-06-04 23:54] gcherem opened #75 "Is there a way to delegate mouseover event to the covered element?"
First of all I want to thank you for this fine component!

I would like to know if is there a way to delegate the mouseover event to the covered element.

keep up the good work!

[2020-06-14 16:50] kostia-lev commented on #58
@joejordanbrown @pacocom
It is possible to open popover pragmatically. Though, you have to use MdePopoverTrigger on the target element. The you use mdePopoverTriggerOn="none", if you want it to not open by any event and you are done. There is not obligation mdePopoverTriggerOn to open popover. I added and example below, you can use togglePopover(); or openPopover or closePopover(). So I don't thin

[2020-06-15 09:33] kostia-lev commented on #58
Still added a pull request, probably someone will need to call destroy when is it is not active

[2020-06-15 11:56] PTC-JoshuaMatthews commented on #74
I wasn't able to npm install the latest version

`> @material-extended/mde@3.0.3 postinstall C:\dolphin\PTCCompass.Web.Angular\node_modules\@material-extended\mde

'ngcc' is not recognized as an internal or external command,`

[2020-06-15 12:04] PTC-JoshuaMatthews commented on #74
I still get the ambient context errors

`ERROR in ../node_modules/@material-extended/mde/lib/popover/popover-trigger.d.ts:64:9 - error TS1086: An accessor cannot be declared in an ambient context.
64     get popoverOpen(): boolean;
[code]
../node_modules/@material-extended/mde/lib/popover/popover.d.ts:49:9 - error TS1086: An accessor cannot be declared in an ambient context.
49     set triggerEven

[2020-06-16 04:01] linhongyi commented on #74
Same Problem in angular 8 project.  Is there any solution to this problem?

This my package.json

"dependencies": {
    "@angular/animations": "8.2.12",
    "@angular/cdk": "^8.2.3",
    "@angular/common": "8.2.12",
    "@angular/compiler": "8.2.12",
    "@angular/core": "8.2.12",
    "@angular/forms": "8.2.12",
    "@angular/material": "^8.2.3",
    "@angular/platform-browser": "8.2.12",
    "@an

[2020-06-16 12:20] joejordanbrown commented on #74
@PTC-JoshuaMatthews
@linhongyi

Sorry I missed that you're using Angular 8, I should document v3 is for angular 9.

Please try [v2.3.1](https://www.npmjs.com/package/@material-extended/mde/v/2.3.1), let me know if you still have issues with that version and I'll try and set up a repo to test the issue on.

Is there any reason the projects haven't migrated to Angular 9?

[2020-06-16 15:01] PTC-JoshuaMatthews commented on #74
@joejordanbrown  v2.3.1 does seem to work on Angular 8, thanks for pointing that out!
 v3 was working fine for me by skipping library check so I may just keep using that.

I have a large app to upgrade with a lot to regression test, and the last time I tried to enable Ivy on angular 8 I got a wall of errors, so not looking forward to 9 where its default and I have to fix them all.  Definitely will

[2020-06-17 06:15] linhongyi commented on #74
@joejordanbrown

It's work in Angular 9 project with v2.3.1 version.

I have to develop client & server project in Visual Studio IDE. The default version of the angular project is 8.0 in Visual Studio. I try to up angular version to 9.0, but has some problem in Visual Studio.

[2020-06-23 14:14] BeckhamL opened #121 "Keep popover open and interactive"
Thanks for making this component, it works seamlessly and intuitively.

My popover has multiple buttons that a user can select. Is there a way that the popover can stay open as the user clicks on the various buttons? I would only like the popover to close when the user clicks the 'close' button or outside the popover for example.

[2020-06-23 18:28] joejordanbrown commented on #121
@BeckhamL

Thank you, I'm happy so many people find it useful.

I think this example I've made [here](https://stackblitz.com/edit/mde-popover-button-close?file=app%2Fapp.component.html) showcases how to disable the on click close event and also shows a child popover to show that it works having a popover inside another popover.

All the options used can be found in the documentation found [here ](

[2020-06-23 20:34] joejordanbrown commented on #63
@viktor-naboka-gl

Sorry I missed this issue.

I can confirm that does look like an issue with not calculating the arrow position dynamically. I will fix this when I have time unless someone else wants to add the dynamic arrow position feature.

[2020-06-23 20:35] #64 closed

[2020-06-23 20:37] joejordanbrown commented on #62
@Santoshah @yoenispantoja

Sorry about the delay I replying, I missed this issue.

I can confirm that I have added a scroll strategies option where you can change the scroll strategy. Once I have run some tests to make sure it's working properly I will release it.

[2020-06-23 20:39] joejordanbrown commented on #61
@pacocom @Santoshah

New feature coming soon that will allow you to change the scroll strategy.

[2020-06-23 20:40] #61 closed

[2020-06-25 19:53] joejordanbrown commented on #11
@gcherem

Sorry I missed your reply.

Check out this example https://stackblitz.com/edit/mde-popover-dynamic-target-position-arrow-offset?file=app/app.component.html

You can use these options `[mdePopoverOverlapTrigger]="false" mdePopoverOffsetX="-19" mdePopoverOffsetY="-1` for adding the arrow and offsetting it to where you mouse cursor clicks. If you need to change the arrow colour use `mdePopo

[2020-06-29 13:32] joejordanbrown opened #130 "chore: test and update popover - angular v10"
Test and update popover on Angular v10

[2020-07-01 02:37] #41 closed

[2020-07-01 02:37] #42 closed

[2020-07-03 14:55] #62 closed

[2020-07-03 15:07] joejordanbrown commented on #62
@Santoshah @yoenispantoja

The issue was related to a default option within the Angular CDK overlay position strategy, so the `reposition()` should still be used instead of `noop()` to fix this issue but requires `withLockedPosition(true)`. See API documentation here [ConnectedPositionStrategy](https://material.angular.io/cdk/overlay/api#FlexibleConnectedPositionStrategy).

I've hardcoded the fix

[2020-07-03 15:14] joejordanbrown commented on #58
@kostia-lev

Thanks for the pull request. I will review it once I've pushed all our latest changes that include a lot of bug fixes.

[2020-07-03 15:37] joejordanbrown commented on #74
@PTC-JoshuaMatthews

Yeah with a large app switching to Ivy can be a pain. We moved our apps to Ivy a long time back and remember the long weekends fixing everything, I'm hoping the errors are a lot clearer now though because I remember when it was first released debugging was a nightmare.

@linhongyi

I would recommend removing your reliance with the Visual Studio IDE template, I know it's easy t

[2020-07-03 15:43] joejordanbrown commented on #74
Btw v3 has lots of bug fixes, which have not been backported to v2. I'm not sure if I have time to maintain v2 but you're welcome to create pull requests if the fixes are required for your projects.

I'm also spending a lot of time updating the internals and there will be API changes when v4 is released in the near future. It will use a cleaner API for configuring, provide a lot more fine-tuning a

[2020-07-07 09:26] abdallanayer commented on #130
hello @joejordanbrown is there an estimate date for the release ?

[2020-07-08 15:58] joejordanbrown commented on #130
@abdallanayer

Are there any errors when using Angular 10 with the popover? From my tests, the latest version works on Angular v10 without any issues.

I'm working on a lot of changes internally at the moment that will be released as v4 which will be updated v10 of Angular.

[2020-07-09 09:12] abdallanayer commented on #130
@joejordanbrown Actually I didnot try it. I got an error while upgrading using ng-upgrade that the popover package is not compatible with angular 10 version. Thats why I didnot proceed with the upgrade as I found this issue and the package is already under upgrade. But I will try it out

[2020-07-10 15:59] #74 closed

[2020-07-29 19:27] ghaschel commented on #130
Any news on this?

[2020-08-03 13:07] Lolmewn opened #225 "Allow passing of data to popover"
#### Bug, feature request, or proposal:
In Angular Material, it is often possible to pass data (sometimes referred to as context) to elements (see e.g. https://material.angular.io/components/dialog/overview#sharing-data-with-the-dialog-component). It would be great if this was possible for this Popover module, too.

#### What is the use-case or motivation for changing an existing behaviour?
The ma

[2020-08-05 12:23] jetabekteshi opened #229 "Bug: Focus issue in popovers attached to input fields"
#### Bug, feature request, or proposal:
Using popovers in multiple input fields is causing a weird behaviour.

#### What is the expected behaviour?
The popovers don't mess up with the focus of the inputs.

#### What is the current behaviour?
Sometimes when I click on an input to write something it loses focus and the focus is moved to another input so the text ends up in the wrong field.

#### Wha

[2020-08-05 14:55] joejordanbrown commented on #229
@jetabekteshi

Thanks for reporting the issue.

My guess is that it relates to this section of code https://github.com/joejordanbrown/popover/blob/39aa6f52e7d6d486dd6d7eabdb052472f2688306/projects/material-extended/mde/src/lib/popover/popover-trigger.ts#L277-L279 when the popover is closed it calls `_resetPopover()`. A quick workaround would be to add an option to disable this focus feature. https

[2020-08-05 15:01] joejordanbrown commented on #225
@Lolmewn

This is something I plan to do in the next version that I'm working on. But, the only issue is that the popover API will change a lot and rely on a service etc just like the dialog. It might mean that I have to keep both popover variations updated for a while until everyone has switched over to a newer cleaner API.

It's still a work in progress though and probably won't be finished for

[2020-08-07 13:19] jetabekteshi commented on #229
Thank you for your fast response!

Haven't had the time to test this but the fix sounds good.

[2020-08-11 11:59] jetabekteshi commented on #229
@joejordanbrown I tried this fix but seems like that's not the issue because it's behaving the same as before

[2020-08-12 04:49] diosney opened #238 "question: Is there a way to pass dynamic data to the popover depending on the trigger element?"
#### Bug, feature request, or proposal:

Feature or question.

#### What is the expected behaviour?

I would like to have a popover that is going to be used on a grid, and will be triggered by hovering each grid item.

So, the popover needs to show specific custom data to the hovered grid item.

#### What is the current behaviour?

Didn't found an example in the documentation on how to pass custom

[2020-08-12 04:55] diosney commented on #238
Sorry, saw now that it is already reported, closing it.

Sadly this is a major drawback to me, will need to find another solution :(

Keep the hard work, Thanks.

https://github.com/joejordanbrown/popover/issues/225

pd. For other people that may come here too before this gets added, by setting a global var with the context when the popover is triggered (either by click or hover) one can accomplis

[2020-08-12 04:55] #238 closed, assigned to nobody

[2020-08-15 21:57] diosney commented on #54
It happens to me with Angular ~10.0.1 and `"@material-extended/mde": "^3.0.3"`.

If I move the mouse inside the popover or quickly press Tab, then it stays as it should.

[2020-08-16 21:37] #75 closed

[2020-08-16 21:37] #73 closed

[2020-08-19 19:13] joejordanbrown commented on #54
@diosney

Please share a Stackblitz example with this issue and I'll take a look.

I've not seen that issue on any recent version on our internal projects.

[2020-08-28 07:08] niewicz commented on #130
@joejordanbrown I didn't notice any issues with the popover working on @angular/core 10.0.14 and @angular/material 10.1.3

[2020-08-28 10:12] Jasminehyz opened #274 "Question: when multiple popover, click the one with another is show, the one can't show"
#### Bug, feature request, or proposal:

proposal

#### What is the expected behaviour?

when it has  multiple popovers, and the triggerEvent is click. when one popover is open, then clicking another  popover's host elemnt, the previous popover can hide and another popover can show.

#### What is the current behaviour?

when one popover is show, if I click the another's host element, the previous

[2020-08-29 20:55] #121 closed

[2020-09-09 13:50] #44 closed

[2020-09-11 08:08] HarryBurns opened #286 "Compact version for string-only tooltips"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behaviour?
A compact version for string-only tooltips

[code]

#### What is the current behaviour?
Currently, you need to create an additional `mde-popover` element.

#### What is the use-case or motivation for changing an existing behaviour?
The current behavior is okay for custom formatting or when you need a temp

[2020-09-11 08:40] HarryBurns opened #287 "Additional trigger event: `focusin`"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Additional trigger event: `focusin`

#### What is the use-case or motivation for changing an existing behavior?
I need an input with a popover that would show on focus in this input. I know that I can do something like that:
https://stackblitz.com/edit/mde-popover-8xzexj?file=app%2Fapp.component.html
But t

[2020-09-11 08:53] HarryBurns opened #288 "Disable popover in simple way"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behaviour?
I need a way to disable popover trigger in a simple way from another place.
So it will be nice to add `[mdePopoverDisabled]` input to trigger directive. And a couple of methods: `enable()` and `disable()`.

#### What is the current behaviour?
I need to manipulate with `mdePopoverTriggerOn` input, which is

[2020-09-11 10:47] Jasminehyz commented on #274
I have solved this problem by remove backdrop.

[2020-09-11 10:47] #274 closed, assigned to nobody

[2020-09-28 20:49] ZhidkovGV commented on #58
Is this issue still presented?
Seems like pr was closed 🙂

[2020-10-05 16:24] verogen-dsa opened #302 "Dynamically reposition popover"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behaviour?
When updating the `mdePopoverOffsetX` and/or `mdePopoverOffsetY` inputs, the popover should reposition accordingly.

#### What is the current behaviour?
The popover seems to only consider the initial offset values.

#### What are the steps to reproduce?
[StackBlitz](https://stackblitz.com/edit/mde-popover

[2020-10-08 08:06] Plondrein commented on #130
Working fine on @angular/core 10.1.0 and @angular/material 10.2.0

[2020-10-17 14:29] #229 closed, assigned to nobody

[2020-11-09 16:00] BeckhamL opened #326 "Question on how to position the popover relative to the triggers' parent component"
![image](https://user-images.githubusercontent.com/17030246/98564298-2f4f1b00-227a-11eb-94a6-e528b6096895.png)

Component 1 = Parent component
Component 2 = Where trigger for popover is
Component 3 = Mdepopover

I have tried positioning using a target reference in my parent component but that didn't work. Then I tried using a directive but that didn't work as well. Currently I am manually offsetti

[2020-11-17 11:41] #286 closed, assigned to nobody

[2020-11-17 11:41] #287 closed, assigned to nobody

[2020-11-17 11:41] #288 closed, assigned to nobody

[2020-11-18 19:11] jgncsy opened #333 "An accessor cannot be declared in an ambient context."
#### Bug, feature request, or proposal:
can install but cannot run with error

ERROR in node_modules/@material-extended/mde/lib/popover/popover-trigger.d.ts:64:9 - error TS1086: An accessor cannot be declared in an ambient context.

64     get popoverOpen(): boolean;

Provide a working example using StackBlitz (or similar) to reproduce the problem.
StackBlitz Template: https://stackblitz.com/fork/

[2020-12-02 13:09] misko009e commented on #130
Yes, I am also wondering when will the update be ready?

[2020-12-03 14:44] joejordanbrown commented on #130
@misko009e that's because there aren't any issues with the last version working on Angular v10+. Unless you're having issues?

[2020-12-03 15:16] misko009e commented on #130
@joejordanbrown it appears to work fine yes but had to force the update. If possible, definitely would prefer an update to this just to be sure 😁

[2020-12-03 15:59] joejordanbrown commented on #130
@misko009e I will try to update it once I find some time.

There were a lot of new changes I made locally to improve the popover just haven't got the time at the moment to finish it off.

[2020-12-07 14:52] xchoc opened #344 "One popover for multiple elements"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behaviour?
When "mdePopoverOverlapTrigger" property setted to "false" and "mdePopoverPositionY" property setted to "below", then popover should be placed below trigger.

#### What is the current behaviour?
Popover appears above trigger on first element, below trigger on second element, above trigger on third element, etc.

[2020-12-11 23:56] #302 closed, assigned to nobody

[2021-01-08 19:44] #326 closed, assigned to nobody

[2021-01-20 17:07] stefan-schweiger commented on #130
In addition to this, testing and releasing it for Angular 11 would probably be a good idea

[2021-01-24 21:32] #333 closed, assigned to nobody

[2021-02-10 10:49] Markus-Ende opened #388 "Multiple triggers for the same popover don't work"
#### Bug:
When using multiple triggers with different mdePopoverTriggerOn configurations (hover + click) for the same popover, the popup flickers, or hover does not work (depends on dom rendering sequence of trigger)

#### What is the expected behaviour?
Both triggers work independantly

#### What is the current behaviour?
Popup flickers, or hover does not work (depends on dom rendering sequence o

[2021-02-13 06:57] #344 closed, assigned to nobody

[2021-03-29 11:38] netronx commented on #225
Use ComponentPortal instead of TemplatePortal, you have to do a little work

[2021-03-29 11:45] netronx opened #426 "Hover trigger don't work propertly"
#### Bug

when using hover trigger, the popover disappear just after being showed and loop on show/hide in case you don't move your mouse

#### What is the expected behaviour?

the popover must close after leaving the popover it self and not just leaving the component triggering the popover

#### What is the current behaviour?

when using hover trigger, the popover disappear just after being showe

[2021-03-29 14:24] netronx commented on #426
You have to add an EventListener type 'mouseleave' to _overlayRef and combine it in some way with the popver directive mouseleave listener ti fix the problem

[2021-03-31 02:43] tech6hutch opened #429 "mouseover and mouseout"
#### Bug, feature request, or proposal:
Being able to listen for the mouseover and mouseout events on the popover. It would be very useful.

#### What is the expected behaviour?
For the `(mouseover)` and `(mouseout)` event attributes to work.

#### What is the current behaviour?
Angular accepts them in the template as valid, but they never fire.

#### What are the steps to reproduce?
https://stack

[2021-04-18 22:09] #388 closed, assigned to nobody

[2021-05-11 15:12] 000panther commented on #130
We are using the popover extensively with angular 11.2.13 and are not facing any issues. Upgrading angular requires --force though ...

[2021-05-21 17:04] vicpeters opened #473 "Unable to use the component with Angular 12"
#### Bug, feature request, or proposal:
Unable to add the component. Installation failed due to peers conflict.

#### What is the expected behaviour?

#### What is the current behaviour?
Found: @angular/animations@12.0.1
npm ERR! node_modules/@angular/animations
npm ERR!   @angular/animations@"^12.0.1" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer @angular/ani

[2021-05-25 11:03] EzioArqam opened #478 "Demonstration of how the close event is used ?"
I am unable to understand how would you use the close event.
For Example I need to submit the data when the popover is closed , not through an explicit submit button , how will I be able to achieve that?

[2021-05-29 09:38] Plondrein commented on #473
Have you tried --force flag?

[2021-06-01 19:43] sinap-se opened #484 "Mouseleave when using a hover trigger sets focus to trigger"
#### Bug, feature request, or proposal:

Bug. When using 'hover' for the trigger mechanism, mouseexit causes the trigger to receive focus as hover does not mark the popover as being triggered by the mouse instead of the keyboard.

#### What is the expected behaviour?

Focus remains unchanged.

#### What is the current behaviour?

Focus is set to the trigger.

#### What are the steps to reproduce?

[2021-06-09 16:10] #426 closed, assigned to nobody

[2021-06-09 16:10] #429 closed, assigned to nobody

[2021-07-31 20:44] #478 closed, assigned to nobody

[2021-08-04 21:48] #473 closed, assigned to nobody

[2021-08-08 10:44] #484 closed, assigned to nobody

[2021-08-14 09:24] usersina opened #544 "Left positioning with "before" not applying"
#### Bug, feature request, or proposal:

- I'm trying to style the popover to always display on the left of the calling element, sort of like "before" of [material tooltip](https://material.angular.io/components/tooltip/overview#tooltip-position).

#### What is the expected behaviour?

- The popover should always display to the left when applying `mdePopoverPositionX='before'`

#### What is the cu

[2021-08-16 15:07] karoldydo opened #545 "Attribute [mdePopoverScrollStrategy] is not available"
#### Bug, feature request, or proposal:
Attribute [mdePopoverScrollStrategy] is not available on `<mde-popover>` component

#### What is the expected behaviour?
It should be visiable as clasic input:
https://github.com/joejordanbrown/popover/blob/master/projects/material-extended/mde/src/lib/popover/popover.ts#L110

#### What is the current behaviour?
Property mdePopoverScrollStrategy is not provi

[2021-08-24 18:28] sinap-se opened #553 "Mouseleave when using a hover trigger sets focus to trigger"
https://github.com/joejordanbrown/popover/issues/484#issue-908631478

Bug, feature request, or proposal:
Bug. When using 'hover' for the trigger mechanism, mouseexit causes the trigger to receive focus as hover does not mark the popover as being triggered by the mouse instead of the keyboard.

What is the expected behaviour?
Focus remains unchanged.

What is the current behaviour?
Focus is set to

[2021-10-21 16:49] #544 closed, assigned to nobody

[2021-10-23 12:07] #545 closed, assigned to nobody

[2021-10-24 12:59] sinap-se commented on #553
shdsdhdsh

[2021-11-01 15:10] stnor commented on #130
Angular 12 seems to be working too. As this project seems dead, I'll be forking.

[2021-11-01 15:27] Plondrein commented on #130
It looks like it's been copied to https://github.com/ng-matero/extensions

[2021-11-16 12:22] sushant-coditas commented on #11
Is there a way I can currently achieve absolute positioning ? @joejordanbrown

[2021-12-04 20:33] grapevinegizmos opened #633 "Compatibility with current angular packages?"
I am getting warnings installing @material-exgtended/mde after updating my angular packages.

Here's my current installed angular packages:
[code]

Here are the warnings  I"m getting,
[code]
Seems like the package is looking for version 8 or 9, but angular is not at 13.  Is this a problem?  will there be an update?

[2022-01-03 20:23] #553 closed, assigned to nobody

[2022-02-11 07:05] #633 closed, assigned to nobody

[2022-03-07 11:16] sameerthekhans opened #704 "Fixed popover position even if space is not available"
#### Feature request
Can it be possible to add an option to force popover position to be fixed?
`[mdePopoverFixedPosition]="true"` //Default false

#### What is the expected behaviour?
Fixed popover position even if there is no available space

#### What is the current behaviour?
The popover changed its position to top if there is no available space below
![image](https://user-images.githubusercon

[2022-05-16 21:39] crh225 commented on #130
https://github.com/crh225/popover/tree/angular/upgrades
It was pretty easy to fork and update angular to 13 from v8. here is a branch that is working and ready for someone to release a new version.

[2022-05-16 23:45] jtc10005 commented on #130
I created a PR for @crh225's Angular 13 branch.
~~#748~~ this PR had some changes to the readme.md file that @joejordanbrown may not have wanted.  I am going to fix that and create a new one.

[2022-05-17 02:17] jtc10005 commented on #130
#749 Angular 13 upgrade PR

[2022-05-17 02:19] jtc10005 opened #750 "Upgrade to ESLINT"
#### Bug, feature request, or proposal:
Request: Upgrade to ESLINT

#### What is the expected behaviour?
Eslint to run when linting and not tslint

#### What is the current behaviour?
tslint is used as the linter

#### What are the steps to reproduce?
run ng lint
Provide a working example using StackBlitz (or similar) to reproduce the problem.
StackBlitz Template: https://stackblitz.com/fork/mde-p

[2022-05-17 02:20] jtc10005 commented on #750
FWIW Im willing to start on this.

[2022-05-31 14:00] Sir0xb opened #761 "About programmatically, can you provide a complete demo"
#### Proposal:

I need to do something before the popover, so I try to programmatically control logic.

But, I got "ERROR TypeError: this.popover.togglePopover is not a function".

[code]

[code]

[2022-06-23 03:36] #704 closed, assigned to nobody

[2022-07-14 08:03] nikola-kljaic opened #799 "Broken dependencies for Angular 12"
#### Bug:
Trying to install     "@material-extended/mde": "3.0.3",
With angular 12 and it breaks because of new deps added:
<img width="327" alt="image" src="https://user-images.githubusercontent.com/21431881/178932413-6afb21c6-2b35-4b66-a41e-45432d55d902.png">
<img width="702" alt="image" src="https://user-images.githubusercontent.com/21431881/178932454-4103fb87-8bb0-4ead-ac98-fd410728dcd0.png">

[2022-07-14 08:12] nikola-kljaic commented on #799
Resolved after using npm i  --legacy-peer-deps.
For anybody that has this problem.

[2022-07-14 08:12] #799 closed, assigned to nobody

[2022-07-14 19:53] tosehee opened #800 "Can we refactor this project to be Ivy Distribution?????"
Feature Request

Can we convert this to "Ivy distribution"?

[code]

Would really appreciate it if we can update this project to more recent angular.

[2022-09-20 23:08] #761 closed, assigned to nobody

[2022-09-20 23:08] #750 closed, assigned to nobody

[2022-09-28 03:06] #800 closed, assigned to nobody

[2022-10-01 07:04] bruteF04C3 commented on #72
Up for it ! @joejordanbrown

[2022-10-11 16:41] GermanPodlessky opened #861 "Angular 13 ivy. Processing legacy "View Engine" libraries"
ng build

[code]
Please, update package

[2022-10-12 16:11] eric-smith-tfs opened #862 "Input boxes when hover sets focus to previous hover input box."
#### Bug, feature request, or proposal:
There is an issue that if click fast enough between input boxes with pop ups set to hover, the focus will be set to the previous hovered box.  You can also see the issue if you hover between 2 boxes.

#### What is the expected behavior?
On hover focus is set to current input box so the user can input text.

#### What is the current behavior?
Hover over an in

[2022-10-26 15:24] ZentoDH opened #873 "mde-popover flickering in and out when hovering and overlap trigger is enabled"
#### Bug

#### What is the expected behaviour?

The popover to stay open, as long as the mouse is in the pop over window.

#### What is the current behaviour?

When using the hover trigger, the mde-popover flickers in and out. This happens a lot but inconsistent. It can be prevented if you disable the animation or put a leaveDelay with a really high number. My guts say it's to do with the pop up a

[2022-11-18 18:20] agdev opened #890 "Is it compatible with Angular 2 version 14"
When installing for angular 14 getting error
 WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: upgrade-to-14@0.0.0
npm ERR! Found: @angular/animations@14.2.11
npm ERR! node_modules/@angular/animations
npm ERR!   @angular/animations@"^14.2.11" from t